<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833959030684-osvt65amhsbev6q5hqh81ma27256a5ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833959030684-osvt65amhsbev6q5hqh81ma27256a5ok</string>
	<key>API_KEY</key>
	<string>AIzaSyApTTDQS020fDmOYCC93IvxyQh66eQ_VRk</string>
	<key>GCM_SENDER_ID</key>
	<string>833959030684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimhwan.PoetTree-App</string>
	<key>PROJECT_ID</key>
	<string>poetreeapp-1617380015808</string>
	<key>STORAGE_BUCKET</key>
	<string>poetreeapp-1617380015808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833959030684:ios:629c0aefd2570126f76259</string>
</dict>
</plist>